* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  background-color: #393939;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.container {
  width: 80vw;
}

.uwuNav {
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: rgba(5, 5, 5, 0.1);
  border-bottom: rgba(5, 5, 5, 0.25) 2px solid;
}

.uwu-navbar {
  margin: 0 auto;
  padding: 0;
  width: 80vw;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.uwu-brand {
  line-height: 50px;
  width: 50%;
  padding: 0;
  margin: 0;
}
.uwu-brand a {
  color: #b8b8b8;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
}
.uwu-brand a .uwu-logo {
  color: seagreen;
  font-size: 1.3rem;
  font-weight: 700;
}

.uwu-nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 50px;
  width: 50%;
  padding: 0;
  margin: 0;
}
.uwu-nav-items .uwu-nav-link {
  display: flex;
  list-style: none;
}
.uwu-nav-items .uwu-nav-link a {
  color: #b8b8b8;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 0 0 25px;
  font-weight: 700;
}
.uwu-nav-items .uwu-nav-link :hover,
.uwu-nav-items .uwu-nav-link :focus {
  color: #b80299;
}

.uwu-burger {
  display: none;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}
.uwu-burger div {
  width: 30px;
  height: 5px;
  background-color: rgb(222, 222, 222);
  margin: 5px;
  border-radius: 5px;
}

.uwuContainer {
  height: calc(100vh - 50px - 30px - 25px);
  background-color: #494949;
  width: 80vw;
  margin: 15px auto;
  border-radius: 10px;
  padding: 10px;
}

.uwuContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.uwuProfile {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 90%;
  margin: auto;
  text-align: center;
}
.uwuProfile .uwuPhotos {
  width: calc(50% - 10px);
  margin: 5px auto;
  justify-self: center;
  align-self: center;
}
.uwuProfile .uwuPhotos img {
  background-color: rgba(5, 5, 5, 0.1);
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.uwuProfile .uwuTitle {
  width: calc(50% - 10px);
  margin: 5px auto;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.uwuProfile .uwuTitle h1 {
  font-size: clamp(2rem, 5vw + 0.5rem, 3rem);
  color: #b80299;
  font-weight: 700;
}
.uwuProfile .uwuTitle h2 {
  font-size: clamp(1rem, 2.5vw + 0.25rem, 1.5rem);
  color: #b8b8b8;
  font-weight: 500;
}

.uwuAbout {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 90%;
  margin: auto;
  text-align: center;
}
.uwuAbout .uwuAboutInfo {
  width: calc(40% - 10px);
  height: 300px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  background-color: #393939;
  border-radius: 5px;
}
.uwuAbout .uwuAboutInfo img {
  background-color: rgba(5, 5, 5, 0.1);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-radius: 50%;
  align-self: center;
}
.uwuAbout .uwuAboutInfo h2 {
  color: #b8b8b8;
  font-size: clamp(1rem, 5vw + 0.25rem, 2rem);
  font-weight: 700;
}
.uwuAbout .uwuAboutInfo p {
  color: #b8b8b8;
  font-size: clamp(0.5rem, 2.5vw + 0.1rem, 1rem);
}
.uwuAbout .uwuAboutMe {
  width: calc(60% - 10px);
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  background-color: #393939;
  height: 300px;
  border-radius: 5px;
}
.uwuAbout .uwuAboutMe .uwuAboutMeContent {
  align-self: center;
  width: 80%;
}
.uwuAbout .uwuAboutMe .uwuAboutMeContent h2 {
  color: #b8b8b8;
  font-size: clamp(1rem, 5vw + 0.25rem, 2rem);
  font-weight: 700;
  padding-bottom: 5px;
}
.uwuAbout .uwuAboutMe .uwuAboutMeContent p {
  color: #b8b8b8;
  font-size: clamp(0.5rem, 2.5vw + 0.1rem, 1rem);
  padding-top: 5px;
}

.uwuContact {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 90%;
  margin: auto;
  text-align: center;
}

.uwuContactImage {
  width: calc(40% - 10px);
  margin: 5px auto;
  justify-self: center;
  align-self: center;
  padding: 5px;
}
.uwuContactImage img {
  width: 250px;
  height: 400px;
  border-radius: 20px;
}

.uwuContactList {
  width: calc(60% - 10px);
  margin: 5px auto;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.uwuContactList .uwuContactTitle {
  padding-bottom: 5px;
}
.uwuContactList .uwuContactTitle h2 {
  color: #b80299;
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw + 0.25rem, 2.5rem);
  padding-bottom: 10px;
}
.uwuContactList .uwuContactTitle p {
  color: #b8b8b8;
  font-size: clamp(0.5rem, 2vw + 0.1rem, 1rem);
}
.uwuContactList .uwuContactSocials {
  display: flex;
  flex-direction: column;
}
.uwuContactList .uwuContactSocials a {
  text-decoration: none;
  color: #b8b8b8;
  padding-top: 10px;
  font-size: clamp(0.75rem, 3vw + 0.25rem, 1.25rem);
}
.uwuContactList .uwuContactSocials a img {
  width: 25px;
  height: 25px;
}
.uwuContactList .uwuContactSocials .facebook svg {
  width: 25px;
  height: 25px;
}
.uwuContactList .uwuContactSocials .facebook svg path {
  fill: #0091ff;
}
.uwuContactList .uwuContactSocials .instagram svg {
  width: 25px;
  height: 25px;
}
.uwuContactList .uwuContactSocials .instagram svg path {
  fill: #ab0251;
}
.uwuContactList .uwuContactSocials .whatsapp svg {
  width: 25px;
  height: 25px;
}
.uwuContactList .uwuContactSocials .whatsapp svg path {
  fill: #008f3b;
}
.uwuContactList .uwuContactSocials .telegram svg {
  width: 25px;
  height: 25px;
}
.uwuContactList .uwuContactSocials .telegram svg path {
  fill: #00a1e0;
}

.uwuWork {
  background-color: #494949;
  width: 85vw;
  margin: 15px auto;
  border-radius: 10px;
}
.uwuWork .uwuWorkTitle {
  padding: 0 0 10px 10px;
}
.uwuWork .uwuWorkTitle h1 {
  font-size: clamp(1.5rem, 5vw + 0.5rem, 3rem);
  color: #b8b8b8;
  font-weight: 700;
}
.uwuWork .uwuWorkImg {
  padding: 10px;
}
.uwuWork .uwuWorkDesc {
  padding: 10px;
  color: #b8b8b8;
  margin-bottom: 10px;
  border-bottom: rgba(5, 5, 5, 0.25) 2px solid;
}
.uwuWork .uwuWorkDesc h2 {
  font-size: clamp(1.5rem, 5vw + 0.25rem, 2.5rem);
  font-weight: 700;
}
.uwuWork .uwuWorkDesc p {
  font-size: clamp(1rem, 25vw + 0.1rem, 1.5rem);
  font-weight: 700;
}

footer {
  height: 25px;
  background-color: rgb(52, 52, 52);
  padding-bottom: 0;
}
footer .copy-right {
  line-height: 25px;
  font-size: 0.75rem;
  color: #b80299;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .uwu-navbar {
    width: 85vw;
  }

  .uwu-brand {
    width: 40%;
  }

  .uwu-nav-items {
    width: 60%;
  }

  .container {
    width: 85vw;
  }

  .uwuContainer {
    width: 85vw;
  }

  .uwuPhotos img {
    height: 275px;
    width: 275px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    width: 90vw;
  }

  .uwuContainer {
    width: 90vw;
  }

  .uwuPhotos img {
    height: 250px;
    width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 95vw;
  }

  body {
    overflow-x: hidden;
  }

  .uwu-navbar {
    width: 90vw;
  }

  .uwu-nav-items {
    position: absolute;
    height: calc(100vh - 50px);
    top: 50px;
    right: 0px;
    width: 200px;
    display: none;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
    margin: 0;
    padding: 0;
    background-color: rgba(35, 35, 35, 0.9);
    z-index: 5000;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
  }
  .uwu-nav-items .uwu-nav-link {
    padding: 20px 0 0 0;
    text-align: center;
    flex-direction: column;
  }
  .uwu-nav-items .uwu-nav-link a {
    font-size: 1.3rem;
    padding: 20px 0;
  }
  .uwu-nav-items .uwu-nav-link :hover,
.uwu-nav-items .uwu-nav-link :focus {
    color: #b80299;
  }

  .uwu-burger {
    display: block;
  }

  .uwu-container {
    width: 90vw;
  }

  .uwu-header-menu {
    width: 45%;
  }

  .uwuContainer {
    width: 95vw;
  }

  .uwuProfile {
    flex-direction: column;
  }
  .uwuProfile .uwuPhotos {
    width: 100%;
    height: calc(50% - 20px);
    margin: 0 0 20px 0;
    align-self: center;
  }
  .uwuProfile .uwuPhotos img {
    height: 225px;
    width: 225px;
  }
  .uwuProfile .uwuTitle {
    width: 100%;
  }

  .uwuAbout {
    flex-direction: column;
  }
  .uwuAbout .uwuAboutInfo {
    width: 100%;
    flex-direction: row;
    height: 150px;
  }
  .uwuAbout .uwuAboutInfo .uwuAboutPhoto {
    align-self: center;
    margin-right: 5px;
  }
  .uwuAbout .uwuAboutInfo .uwuAboutPhoto img {
    width: 100px;
    height: 100px;
  }
  .uwuAbout .uwuAboutInfo .uwuAboutInfoMe {
    margin-left: 5px;
    align-self: center;
  }
  .uwuAbout .uwuAboutMe {
    width: 100%;
    height: 275px;
  }

  .uwuTitle {
    width: 95%;
    height: calc(50% - 20px);
    margin: 20px 0 0 0;
  }

  .uwuContact {
    position: relative;
    width: 100%;
    height: 90%;
  }
  .uwuContact .uwuContactImage {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .uwuContact .uwuContactImage img {
    width: 100%;
    height: 100%;
  }
  .uwuContact .uwuContactList {
    width: 60%;
    position: absolute;
  }
  .uwuContact .uwuContactList .uwuContactTitle {
    background-color: #393939;
    padding: 10px;
    border-radius: 10px;
    margin: 0 0 10px 0;
  }
  .uwuContact .uwuContactList .uwuContactSocials {
    background-color: #393939;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0 0 0;
  }
}
.uwu-button {
  background-color: slategray;
  float: right;
}
.uwu-button a {
  text-decoration: none;
  color: seashell;
  padding: 0.25em;
}

.uwu-nav-active {
  transform: translateX(0%) !important;
  display: block;
}

.uwu-active {
  color: seagreen;
}/*# sourceMappingURL=main.css.map */